<%#-- copyright
OpenProject My Project Page Plugin

Copyright (C) 2011-2014 the OpenProject Foundation (OPF)

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License version 3.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.

See doc/COPYRIGHT.md for more details.

++#%>

<% project_status_cf = ProjectCustomField.where("name LIKE 'Project %'").all %>

<h3 class="widget-box--header">
  <%= op_icon('icon-context status-reporting') %>
  <span class="widget-box--header-title">Project status</span>
</h3>

<div style="display: flex">
  <div style="flex: 1; border-right: 5px solid transparent;">
    <div class="generic-table--container">
      <div class="generic-table--results-container">
        <table class="generic-table highlighted-table">
          <tbody>
          <% project_status_cf.each do |cf| %>
              <tr>
                <td class="highlighted-cell">
                  <%= cf.name %>:
                </td>
                <td>
                  <%= @project.custom_value_for(cf).formatted_value %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div style="flex: 1; border-left: 5px solid transparent;">
    <div class="generic-table--container">
      <div class="generic-table--results-container">
        <table class="generic-table highlighted-table">
          <tbody>
          <tr>
            <td colspan="3"class="highlighted-cell">
              STATUS
            </td>
          </tr>
          <tr>
            <td colspan="2"class="highlighted-cell">
              Completion [%]:
            </td>
            <td colspan="1">
              <%= @project.custom_value_for(CustomField.find_by(name: 'Completion')).formatted_value rescue 'xxx' %>
            </td>
          </tr>
          <tr>
            <td class="highlighted-cell -centered">Time</td>
            <td class="highlighted-cell -centered">Budget</td>
            <td class="highlighted-cell -centered">Quality</td>
          </tr>
          <tr>
            <td class="project-status-cell">
              <span class="project-status -red"></span>
            </td>
            <td class="project-status-cell">
              <span class="project-status -amber"></span>
            </td>
            <td class="project-status-cell">
              <span class="project-status -green"></span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
